.title{
    background-color: #fefaf0;
}
.title-container{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.titletxt{
    width:50%;
    height:100vh;
    
}